## Lists

Based on [Think Python Chapter 10](http://greenteapress.com/thinkpython2/html/thinkpython2011.html)

A **list** is a sequence of values, of any type. The values are called **elements**.

In [ ]:
# a list of 4 integers
[10, 20, 30, 40]

In [ ]:
# a list of 5 strings
["Pooh","Rabbit","Piglet","Tigger","Eeyore"]

In [ ]:
# a list containing a string, a float, 
# an integer, (hey!) another list, even a function
a=['Christopher Robin', 2.0, 5, [10, 20], max]

In [ ]:
[]

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []

print(cheeses, numbers, empty)

[Python Tutor](http://pythontutor.com/visualize.html#code=cheeses%20%3D%20%5B'Cheddar',%20'Edam',%20'Gouda'%5D%0Anumbers%20%3D%20%5B42,%20123%5D%0Aempty%20%3D%20%5B%5D%0Arandom%20%3D%20%5B'Brie',%202.0,%205,%20%5B10,%2020%5D%5D&cumulative=false&heapPrimitives=nevernest&mode=edit&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)

***
**Mutability**

In [ ]:
numbers[1]

In [ ]:
numbers[1] = 5
numbers

In [ ]:
"some string"[1]

In [ ]:
"some string"[1] = "a"

If we replace all the parts, is it still the same list?

In [ ]:
print(cheeses)
cheeses[2] = 'Jack'
cheeses[0] = 'Blue'
cheeses[1] = 'Colby'
print(cheeses)

In [ ]:
favoriteCheese = "Brie"
favoriteCheese = "string"

***
**Traversing a list**

In [ ]:
for cheese in cheeses:
    print(cheese)

In [ ]:
numbers

In [ ]:
len(numbers)

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    
numbers

In [ ]:
for x in []:
    print('This never happens.')

In [ ]:
# nested lists count as one element

nests = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(nests)

***
**List operations**

`+` and `*`

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

In [ ]:
[0] * 4

In [ ]:
[1, 2, 3] * 3

Slicing lists

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

In [ ]:
t[:4]

In [ ]:
t[3:]

In [ ]:
t[:]

In [ ]:
t[::-1]

In [ ]:
t[1:3] = ['x', 'y']
t

***
**List methods**

In [ ]:
q = ['a', 'b', 'c']
q.append('d')
q

In [ ]:
r1 = ['a', 'b', 'c']
r2 = ['d', 'e']
r1.extend(r2)
r1

In [ ]:
r2

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

In [ ]:
sort(t)

In [ ]:
# List methods are usually void (return None)
t = t.sort()
t

***
**Functions using lists**

In [ ]:
def sum_elements(my_list):
    """Returns the sum of numbers in a list"""
    total = 0 # total initialized to 0
    for element in my_list:
        total += element # total accumulates the sum of the elements
    return total

In [ ]:
sum_elements([0,1,1])

In [ ]:
nums = [42, 124, 63, 7, 8]
sum_elements(nums)

In [ ]:
sum([0,1,1])

In [ ]:
sum(nums)

An operation like `sum` or `sum_elements` that combines a sequence of elements into a single value is sometimes called **reduce**.

In [ ]:
def capitalize_all(t):
    res = [] # res is initialized with an empty list
    for s in t:
        res.append(s.capitalize())
    return res

In [ ]:
cheeses = ['cheddar', 'edam', 'gouda']
capitalize_all(cheeses)

An operation like `capitalize_all` is sometimes called a **map** because it “maps” a function (in this case the method `capitalize`) onto each of the elements in a sequence.

In [ ]:
cheeses

In [ ]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper(): # True if string contains only upper case letters
            res.append(s)
    return res

In [ ]:
cheeses.extend(['BLUE', 'COLBY', 'Jack'])
cheeses

In [ ]:
only_upper(cheeses)

An operation like `only_upper` is called a **filter** because it selects some of the elements and filters out the others.

Most common list operations can be expressed as a combination of **map**, **filter**, and **reduce**.

***
**Deleting elements**

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
t

In [ ]:
x

In [ ]:
t = ['a', 'b', 'c']
del t[1]
t

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')
t

In [ ]:
t = ['a', 'b', 'b', 'c']
t.remove('b')
t

***
## Lab time:
**Part 1:** Write a function called `is_sorted` that takes a list as an argument and returns True if the list is sorted in ascending order and False otherwise. For example:

- `is_sorted([1, 2, 2])` returns `True`
- `is_sorted([b, a])` returns `False`

In [ ]:
...

Here are some test cases:

In [ ]:
is_sorted([1, 2, 2]) #True

In [ ]:
is_sorted([b, a]) #False

**Part 2:** Write a function called `has_duplicates` that takes a list and returns True if there is any element that appears more than once. It should not modify the original list.

In [ ]:
...

Here are some test cases:

In [ ]:
has_duplicates([1, 2, 2]) #True

In [ ]:
has_duplicates([b, a]) #False

**Part 3:** This part pertains to the so-called Birthday Paradox, which you can read about at http://en.wikipedia.org/wiki/Birthday_paradox.

If there are 23 students in your class, what are the chances that two of you have the same birthday? You can estimate this probability by generating random samples of 23 birthdays and checking for matches. Hint: you can generate random birthdays with the `randint` function in the `random` module.

Try it yourself, or you can download the author's solution from http://thinkpython2.com/code/birthday.py.

In [ ]:
...