# Lecture examples for Aug 28-29
***
## Values and Types

**value**: basic unit of data manipulated by programs

values *have* types

**type**: category of values, such as integers (int), floating-point numbers (float), and strings (str), booleans (bool), etc.

In [ ]:
# Try me: 0, 0.1134, "Hello", 'hello', hello, "สวัสดี", "Strings are special", greeting = "sup!?", 1,000,000
# true, False, False = True, true = False, True == False, print, ..., *, # is a comment a type? why or why not?
"""
what about a multi-line comment?
"""

type(...)

**Strings are a special type**

Almost no matter what we put in single or double quotes, Python accepts our `str`. If our string contains single or double quotation marks, the string should be placed in double or single quotes respectively. If the string *must* contain both single and double quotation marks for some reason... we must "escape" the problem quotation mark(s) with a preceeding '\\'

In [ ]:
print('my first "string"', "and my second 'string'")

In [ ]:
print("enclose a string in 'single' or "double" quotes")

Strings can sometimes be used in expressions with the `+` or `*` operators. Combining strings end to end is called *concatination*.

In [ ]:
"LOL " + "so funny"

In [ ]:
"ha" * 10

Each character in a string has a index, where in the string it sits. We can access the characters using `[int]` and `[::]`.

In [ ]:
"rofl"[2]

Without getting too ahead of ourselves, strings are also *comparable.* `==` is the operator for comparing whether values are equal. We can also use `<` and `>`. One string is `>` than another if it is alphabetically preceding.

In [ ]:
'apples'=='apples'

`in` is another operator that can be used in evaluating strings. `in` returns `True` if the preceding string appears as a substring of the second string.

In [ ]:
'a' in 'banana'

***
## Variables

**variable:** name that refers to a value

**assignment statement:** creates new variable(s) and *binds* them to values, the `=` is the *assignment operator*

In [ ]:
pi = 3.14
pi

Variables can also be imported.

In [ ]:
from math import pi
pi

In [ ]:
radius = 23
area = pi * pow(radius, 2)
area

"In this way, complex programs are constructed by building, step by step, computational objects of increasing complexity." \- [Composing Programs 1.2](http://composingprograms.com/pages/12-elements-of-programming.html#names-and-the-environment)
***
**Names and the environment**

Variables have names, but remember so do functions! When we use the assignment operator, we control what names are bound to which values *or* functions...

In [ ]:
morePi = pi + 1
morePi

In [ ]:
max

In [ ]:
pi = max
max = morePi

max

In [ ]:
max(pi, morePi) # now what!?

We sneakily reassigned `max` the function to `max` the value. This is *legal*, but it's not cool. While Python does allow reassigning names like this, it will not allow *keywords* to be used as variable names.

In [ ]:
import = pi

In [ ]:
greeting = "Hi "
name = "IGGY"

greeting + name # what is the difference between this and a print statement?

***
## Statements and expressions

**expression:** combination of values, variables, and operators

**statement:** executable unit of code

Expressions are evaluated. Statements are executed. So far we've seen print, assignment, and import statements. There are more on the way!

In [ ]:
# Example statements
width = 18
height = 12.0
delimiter = '.'

# Example expressions
width/2

In [ ]:
height/2.0

In [ ]:
4 + 11 * 5

In [ ]:
delimiter * 3

**Nested Expressions**

See [Composing Programs 1.2.5](http://composingprograms.com/pages/12-elements-of-programming.html#evaluating-nested-expressions)

In [ ]:
from operator import add, sub, mul

sub(pow(2, add(2, 10)), pow(2, 4))

In [ ]:
add(5*7,8+6)

***
## Errors

See *Think Python* [Apendix A](http://greenteapress.com/thinkpython2/html/thinkpython2021.html)

**syntax:** the interpreter has a problem with the code when it is translating it into byte code 

**runtime:** the interpreter reports an error while the program is running

**semantic:** the program successfully executes, but produces unexpected/ incorrect results

In [ ]:
# syntax errors

print('my first "string"', "and my second 'string'")
print("enclose a string in 'single' or "double" quotes")

In [ ]:
sub(pow(2, add(2, 10)), pow(2, 4)

In [ ]:
# runtime errors

myString = "Lions and tigers and bears"
myString[99]

In [ ]:
x = 1
while (x > 0):
    x += 1

In [ ]:
# semantic errors
from math import sqrt
x = 18

In [ ]:
if type(x/2) is int:
    print("x is even")
else:
    print("x is odd")