In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Charts ##

## Census data ##

In [ ]:
# Whole csv file to Table
full = Table.read_table('nc-est2014-agesex-res.csv')

# Selecting 4 columns
partial = full.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')

# Relable population estimate columns
simple = partial.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')

# Filter out rows where AGE is 999
no_999 = simple.where('AGE', are.below(999))

# Keep only total population estimates (filter out male and female)
everyone = no_999.where('SEX', 0).drop('SEX')

## Line Plots ##

In [ ]:
# US Population
everyone.plot('AGE', '2010')

In [ ]:
everyone.plot('AGE')

## Males and Females in 2014 ##

In [ ]:
males = no_999.where('SEX', 1).drop('SEX')
females = no_999.where('SEX', 2).drop('SEX')

In [ ]:
pop_2014 = Table().with_columns(
    'Age', males.column('AGE'),
    'Males', males.column('2014'),
    'Females', females.column('2014')
)

In [ ]:
pop_2014

In [ ]:
pop_2014.plot('Age')

In [ ]:
make_array(1,2,3) + make_array(4,5,6)

## Scatter Plots ##

In [ ]:
actors = Table.read_table('actors.csv')

In [ ]:
actors

## Bar Charts ##

In [ ]:
top_movies = Table.read_table('top_movies_2017.csv')

## Categorical Distribution ##

In [ ]:
studios = top_movies.select('Studio')
studios

## Lab Time: Histograms
Earlier, we computed the average pay among the CEOs in our 102-CEO dataset.  The average doesn't tell us everything about the amounts CEOs are paid, though.  Maybe just a few CEOs make the bulk of the money, even among these 102. Here is what we did before...

In [ ]:
# Load data from a file into a table
raw_compensation = Table.read_table('raw_compensation.csv')

# A funtion to convert pay from a string to a number
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100' (in millions) to a number of dollars."""
    return 10**6 * float(pay_string.strip("$"))

# New table with Total Pay ($) column (of numbers)
compensation = raw_compensation.with_column(
    "Total Pay ($)",
    raw_compensation.apply(convert_pay_string_to_number, "Total Pay"))

# Calculate the average CEO pay
average_total_pay = np.average(compensation.column("Total Pay ($)"))
average_total_pay

We can use a *histogram* to display more information about a set of numbers.  The table method `hist` takes a single argument, the name of a column of numbers.  It produces a histogram of the numbers in that column.

**Question 1.** Make a histogram of the pay of the CEOs in `compensation`. The `.hist` method can take `normed=False` as a second argument to show the count on the y-axis instead of a percentage.

**Question 2.** Looking at the histogram, how many CEOs made more than \$30 million?  (Answer the question by filling in your answer manually.  You'll have to do a bit of arithmetic; feel free to use Python as a calculator.)

**Question 3.** Answer the same question with code.  *Hint:* Use the table method `where` and the property `num_rows`.